<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Tổng đài hỗ trợ -->
      <div class="col-md-4 col-sm-6 mb-4">
        <h5>Tổng đài hỗ trợ</h5>
        <ul>
          <li>Gọi mua: 1900 232 460 (8:00 - 21:30)</li>
          <li>Khiếu nại: 1800 1062 (8:00 - 21:30)</li>
          <li>Bảo hành: 1900 232 464 (8:00 - 21:00)</li>
        </ul>
      </div>
      <!-- Về công ty -->
      <div class="col-md-4 col-sm-6 mb-4">
        <h5>Về công ty</h5>
        <ul>
          <li><a href="/about">Giới thiệu công ty (MWG.vn)</a></li>
          <li><a href="/careers">Tuyển dụng</a></li>
          <li><a href="/feedback">Gửi góp ý, khiếu nại</a></li>
          <li><a href="/stores">Tìm siêu thị (2.957 shop)</a></li>
        </ul>
      </div>
      <!-- Thông tin khác -->
      <div class="col-md-4 col-sm-12 mb-4">
        <h5>Thông tin khác</h5>
        <ul>
          <li><a href="/loyalty">Tích điểm Quà tặng VIP</a></li>
          <li><a href="/order-history">Lịch sử mua hàng</a></li>
          <li><a href="/affiliate">Đăng ký bán hàng CTV chiết khấu cao</a></li>
          <li><a href="/installment">Tìm hiểu về mua trả chậm</a></li>
          <li><a href="/warranty">Chính sách bảo hành</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>