<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/"><img
        src="/img/banner/logo.png"
        alt="Logo"
        width="80px"
        height="50px"
        class="d-inline-block align-text-top"
      /></a>
    <!-- Toggle button for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Sách</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Giỏ hàng</a>
        </li>
        {{#if customer}}
          <li class="nav-item">
            <a class="nav-link" href="/account">Tôi</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/account/login">Đăng nhập/Đăng ký</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>