<div class="bg-dark text-white p-3 vh-100" style="width: 250px;">
    <h4 class="mb-4">Quản trị</h4>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a href="/admin/products" class="nav-link text-white">Sản phẩm</a>
        </li>
        <li class="nav-item mb-2">
            <a href="/admin/orders" class="nav-link text-white">Đơn hàng</a>
        </li>
        <li class="nav-item mb-2">
            <a href="/admin/customers" class="nav-link text-white">Người dùng</a>
        </li>
        <li class="nav-item mb-2">
            <a href="/admin/authors" class="nav-link text-white">Tác giả</a>
        </li>
         <li class="nav-item mb-2">
            <a href="/admin/publishers" class="nav-link text-white">Nhà xuất bản</a>
        </li>
        <li class="nav-item mb-2">
            <a href="/admin/logout" class="nav-link text-white">Đăng xuất</a>
        </li>

    </ul>
</div>